.final-solicitud{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    
    height: 100%;
    min-width: 40vw;
    position: relative; /* Añadimos posición relativa para el contenedor */
}

.final-solicitud > *{
    border: 0px solid limegreen;
    text-align: start;
}

.final-solicitud p, .final-solicitud h3{
    margin: 0.5em 0;
}

.final-titulo{
    grid-column: span 3;
}

.operario{
    grid-row-start: 4;
}

.final-observaciones{
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: 6;
}

/* Modificamos esta clase para posicionar los botones en la esquina superior derecha */
.final-boton{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;
    z-index: 1;
}

/* Estilo opcional para los botones */
.final-boton .btn {
    padding: 8px 16px;
    border-radius: 20px;
}