.solicitarServicio {
    display: flex;
    max-width: 70%;
    max-height: 80vh;
    
    
    
    background-color: white;
    border-radius: 24px;
    overflow: hidden;
    border: 2px solid #004aad;
}

.left-panel {
    background-color: #004aad;
    color: white;
    padding: 32px 24px;
    max-width: 40%;
    min-width: 20%;
}

.left-panel h2 {
    margin-top: 0;
}

.right-panel {
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}



.form-group {
    margin-bottom: 20px;
}

.solicitarServicio label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

.solicitarServicio input, .solicitarServicio select {
    width: 100%;
    padding: 10px 14px;

    border-radius: 30px;
    font-size: 1.2rem;
    border: #004aad 1px solid;
    transition: ease-in-out 0.3s;
}

.btn {
    padding: 10px 24px;
    background-color: #004aad;
    color: white;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    font-weight: bold;
    float: right;
    border: #004aad 1px solid;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: aliceblue;
    border: #004aad 1px solid;
    color: #004aad;
    cursor: pointer;
}


.solicitarSecond textarea {
    width: 15em;
    height: 200px;
    padding: 10px 14px;
    border-radius: 30px;
    font-size: 1.2rem;
    border: #004aad 1px solid;
    resize: none;
    margin-bottom: 1em;

    font-family: inherit;
}

.final-solicitud textarea {
    width: 100%;
    max-height: 70%;
    padding: 10px 14px;
    border-radius: 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1rem;
    border: #004aad 1px solid;
    resize: none;
    margin-bottom: 1em;
    text-overflow: ellipsis;

    font-family: inherit;
}

.final-solicitud textarea:focus {
    outline: none;
    border: 1px solid #004aad;
}

 /* Scrollbar general */
    textarea::-webkit-scrollbar {
    width: 8px;
    }

  /* Track (fondo del scrollbar) */
textarea::-webkit-scrollbar-track {
background: #70cbea;
border-radius: 4px;
}

  /* Thumb (la parte que se arrastra) */
textarea::-webkit-scrollbar-thumb {
background-color: #004aad;
border-radius: 4px;
border: 2px solid #004aad; /* crea un efecto de padding */
}

  /* Hover sobre el thumb */
textarea::-webkit-scrollbar-thumb:hover {
border: 2px solid #70cbea;
cursor: pointer;
}

/*
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
    */