.navbarOperario{
    background-color: #004aad;
    display: flex;
    justify-content: space-evenly;
    max-height: 5rem;
    width: 100%;
    padding: 0.5rem 0;
}

.navbarOperario ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}


.navbarOperario img {
    max-height: 5em;
    max-width: 10rem;
    object-fit: contain;
    margin: 0.5rem 0;
}

.menuOperario ul{
    display: flex;
    gap: 16px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.menuOperario li {
    text-decoration: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1.3em;
}

.menuOperario .active{
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 10px 15px;
    color: #004aad;
    background-color: white;
    border-radius: 20px;
    font-size: 1.2em;
}


.navbarOperario .perfil{
    cursor: pointer;
}

.navbarOperario nav{
    flex-basis: 40%;
}

.user-menu {
    position: absolute;
    top: 60px; /* ajusta según tu header */
    right: 20px;
    background-color: white;
    color: black;
    border: 1px solid #004aad;
    padding: 10px 15px;
    border-radius: 20px;
    z-index: 1000;
    min-width: 200px;

    text-align: start;
}

.logout-btn {
    background-color: #ff4d4d;
    
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
}

.link{
    text-decoration: none;
}

.active .link{
    text-decoration: none;
    color: #004aad;
    background-color: white;
}

.optionOp .link{
    color:white;
}

