.pedidos-container {
    padding: 20px;
    background-color: #004aad;
    border-radius: 16px;
    color: white;
    font-family: sans-serif;

    max-width: 70%;
  }
  
  .pedidos-tabs {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
  }
  
  .tab {
    background-color: white;
    color: #004aad;
    border: 1px solid #004aad;
    border-radius: 20px;
    padding: 6px 14px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .tab.active {
    background-color: #004aad;
    color: white;
  }
  
  .search-input {
    margin-left: auto;
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #004aad;
    outline: none;
  }
  
  .pedidos-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .pedidos-table th,
  .pedidos-table td {
    padding: 0.7em;
    border-bottom: 2px solid white;
    text-align: left;
  }
  
  .menu-icon {
    cursor: pointer;
    font-size: 18px;
  }


  .optionIcon{
    cursor: pointer;
    height: 100%;
  }

  .optionContainer{
    border-radius: 60%;
    transition:  ease-in-out 0.2s;
  }
  .optionContainer:hover{
    background-color: white;
    border-radius: 60%;
    cursor: pointer;
  }

  .optionContainer:hover .optionIcon{
    fill: #004aad;
  }