.pedidos-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #0052cc;
  color: white;
  border-radius: 8px;
  overflow: hidden;
}

.pedidos-table th,
.pedidos-table td {
  padding: 0.7em;
  border-bottom: 2px solid white;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.pedidos-table th {
font-weight: 600;
}

.pedidos-table tbody tr:hover {
background-color: rgba(255, 255, 255, 0.1);
}

.menu-icon {
  cursor: pointer;
  font-size: 18px;
}


.optionIcon{
  cursor: pointer;
  height: 100%;
}

.optionsQuery{
  display: flex;
  justify-content: center;

  background-color: white;
  border-radius: 60px;
  height: 3em;
}

.close-option-query{
  color: #004aad;
}

.close-option-query:hover{
  color: #004aad;
  cursor: pointer;
}

.delete-query > *{
  fill:#ff5050;
  height: 90%;
}

.info-query > *{
  fill:#004aad;
  height: 100%;
}

  .info-query:hover > *{
  cursor: pointer;
  fill: white;
  stroke: #004aad;
}

.delete-query:hover > *{
  cursor: pointer;
  fill: white;
  stroke: #ff5050;
}

.options-cont{
  min-width: 8em;
}