.contenedor{
  background-color: #004aad;
  font-family: sans-serif;
  width: 100%;
}

.encabezado{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.buscador {
  padding: 10px 100px;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
}

.contenedorTabla {
  background-color: #004aad;
  border-radius: 10px;
  width: 100%;
  overflow-x: auto;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

th, td {
  padding: 12px 10px;
  height: 12px;
  text-align: left;
  vertical-align: center;
  border-bottom: 1px solid #ffffff22;
}

.acciones {
  display: flex;
  gap: 10px;
}

.icono {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono.editar {
  color: #007bff;
}

.icono.eliminar {
  color: red;
}

.tabla input {
  width: 50%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background-color: white;
  text-align: center;
  font-size: 14 px;
}

.tabla select{
  width: 70%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background-color: white;
  text-align: center;
  font-size: 14 px;
}

.botones-edicion {
  height: 12px;
  padding: 12px;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.boton-texto {
  padding: 8px 12px;
  margin-left: 5px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  min-width: 90px;
}

.boton-texto.cancelar{
    background-color: red;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
}

.boton-texto.guardar{
    background-color: #007bff;
    padding: 8px 12px;
    border: none;
}