.pedidos-container {
  padding: 20px;
  background-color: #004aad;
  border-radius: 16px;
  color: white;
  font-family: sans-serif;
  max-width: 70%;
  }
  
.pedidos-tabs {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.tab {
  background-color: white;
  color: #004aad;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 8px 16px;
  border: 1px solid #ddd;
}

.tab.active {
  background-color: #0052cc;
  color: white;
  border-color: #0052cc;
}

.search-input {
  margin-left: auto;
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #ddd;
  width: 200px;
  outline: none;
}

.pedidos-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #0052cc;
  color: white;
  border-radius: 8px;
  overflow: hidden;
}

.pedidos-table th,
.pedidos-table td {
  padding: 0.7em;
  border-bottom: 2px solid white;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
  overflow: hidden;
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es muy largo */
}

.pedidos-table th {
font-weight: 600;
}

.pedidos-table tbody tr:hover {
background-color: rgba(255, 255, 255, 0.1);
}

.menu-icon {
  cursor: pointer;
  font-size: 18px;
}


.optionIcon{
  cursor: pointer;
  height: 100%;
}

.optionsQuery{
  display: flex;
  justify-content: center;

  background-color: white;
  border-radius: 40px 10px; 
  padding: 0.1em;
  height: 3em;
}

.close-option-query{
  color: #004aad;
}

.close-option-query:hover{
  color: #004aad;
  cursor: pointer;
}

.delete-query > *{
  fill:#ff5050;
  height: 90%;
}

.info-query > *{
  fill:#004aad;
  height: 100%;
}

  .info-query:hover > *{
  cursor: pointer;
  fill: white;
  stroke: #004aad;
}

.play-query > *{
  fill:#00bf63;
  height: 100%;
}

  .play-query:hover > *{
  cursor: pointer;
  fill: white;
  stroke: #00bf63;
}

.delete-query:hover > *{
  cursor: pointer;
  fill: white;
  stroke: #ff5050;
}

.options-cont{
  min-width: 8em;
}